.image{
    height: 300px;
    width: 300px;
}

h1{
    text-align: center;
    font-size: 56pt;
}
.flexed{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}
.container{
    margin: 0 auto;
    height: 600px;
    width: 1200px;
    align-items: center;
    justify-content: center;
}
.col-1{
    background-color: powderblue;
}
.col-2{
    min-height: 50px;
    background-color: #d4b0ab;
}
.col-3{
    min-height: 50px;
    background-color: whitesmoke;
}
